%h1 Logins

= form_for @user, url: url_for(controller: 'logins', action: 'create'), class: 'form' do |f|

  %div
    .field.form-group
      = f.label :email, class: 'form-static'
      %div
        = f.text_field :email, class: 'form-control', placeholder: 'Email'
    .field.form-group
      = f.label :password, class: 'form-static'
      %div
        = f.password_field :password, class: 'form-control', placeholder: 'Password'

  = f.submit 'Login', class: 'btn btn-primary'
