%h4 Listing books

%ul.books-grid.no-bullet.row
  - @books.each do |book|
    %li.col-lg-3.col-md-4.col-sm-4.col-xs-12
      .book-card.padly
        = link_to book, class: 'cover' do
          = image_tag book.cover
        .book-info.ell.glassy-bg.padmy.padlx
          .title
            %h6
              = book.title
              %span
                (#{book.author})
          %p.left.price.label.book-label.radius
            = number_to_currency("#{book.price}")
          = link_to book.isbn, class: 'pull-right' do
            = image_tag asset_path('isbn.png')
