%br

.col-lg-3.col-xs-12
  = image_tag @book.cover
.col-lg-g.col-xs-12
  %h3
    = @book.title
    (#{@book.author})
  -#\#{link_to @book.isdn do}
  -#  = image_tag asset_path("isdn.png")
  %p.label.movie-label.radius.mb1
    $ #{@book.price}
  %p= @book.description
