= form_for @todo do |f|
  - if @todo.errors.any?
    #error_explanation
      %h2= "#{pluralize(@todo.errors.count, "error")} prohibited this todo from being saved:"
      %ul
        - @todo.errors.full_messages.each do |msg|
          %li= msg

  %div
    .field.form-group
      = f.label :due, class: 'form-static'
      %div
        = f.date_select :due, {}
    -#= f.date_select :due, {}, {class: 'selectpicker show-tick'}
    .field.form-group
      = f.label :task, class: 'form-static'
      = f.text_field :task, class: 'form-control'

  = f.submit 'Save', class: 'btn btn-primary'
