= form_for @todo, class: 'form' do |f|

  %div
    .field.form-group
      = f.label :due, class: 'form-static'
      %div
        = f.date_select :due, {}
    -#= f.date_select :due, {}, {class: 'selectpicker show-tick'}
    .field.form-group
      = f.label :task, class: 'form-static'
      = f.text_field :task, class: 'form-control'

    .field.form-group
      = f.label :user_id, class: 'form-static'
      %div
        = select('todo', 'user_id', User.all.collect {|u| [ u.name, u.id ] })

    .field.form-group
      = f.label :memo, class: 'form-static'
      = f.text_area :memo, class: 'form-control', style: 'max-width: 100%', rows: 5

  = f.submit 'Save', class: 'btn btn-primary'

  - if @todo.errors.any?
    #error_explanation
      %div.alert.alert-danger{style: 'margin-top: 8px'}
        %ul
          - @todo.errors.full_messages.each do |msg|
            %li= msg
