%h1 Listing todos

%table.table.table-striped
  %thead
    %tr
      %th Due
      %th User
      %th Task
      %th Action

  %tbody
    - @todos.each do |todo|
      %tr
        %td{style: 'width: 20%; min-width: 120px'}= todo.due
        %td{style: 'width: 15%; min-width: 120px'}= todo.user.name
        %td{style: 'width: 100%'}= todo.task
        %td
          %div{style: 'width: 30%; min-width: 200px'}
            = link_to 'Show', todo, class: 'btn btn-default'
            = link_to 'Edit', edit_todo_path(todo), class: 'btn btn-primary'
            = link_to 'Destroy', todo, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-danger'

%br

= link_to 'New Todo', new_todo_path, class: 'btn btn-primary pull-right'
