%h1= 'Show'

%div.form.well
  %div.form-group
    %h4 Due:
    %div= @todo.due
  %div.form-group
    %h4 Task:
    %div= @todo.task
  %div.form-group
    %h4 Memo:
    %div= new_line_br(@todo.memo)

- unless notice.nil?
  %p.alert.alert-success#notice= notice

= link_to 'Edit', edit_todo_path(@todo), class: 'btn btn-primary'
= link_to 'Back', todos_path, class: 'btn btn-default'
