%h1= 'Show'

= render 'show'

- unless notice.nil?
  %p.alert.alert-success#notice= notice

= link_to 'Edit', edit_todo_path(@todo), class: 'btn btn-primary'
= link_to 'Back', todos_path, class: 'btn btn-default'
