!!! 5
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %title= content_for?(:title) ? yield(:title) : "BookStore"
    %meta{:content => content_for?(:description) ? yield(:description) : "BookStore", :name => "description"}
      = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
      = javascript_include_tag 'application', 'data-turbolinks-track' => true
      = csrf_meta_tags
  %body.container
    = render './layouts/navbar'
    = render './layouts/alerts'
    %main{:role => 'main'}
      = yield
